.file-input {
    display: none;
}

mat-form-field {
    padding: 16px;
}

button {
    margin: 8px;
}

.dictionary-edit {
    display: flex;
    justify-content: center;
    margin: 16px;
}

mat-grid-tile {
    display: flex;
    justify-content: center;
}

.dictionary-description {
    white-space: nowrap;
    overflow: hidden;
}
