<mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <span>Réglages d'administration</span>
</mat-toolbar>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Options de dictionnaire
            </mat-panel-title>
            <mat-panel-description>
                Ajouter ou retirer des dictionnaires pour la partie
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <mat-divider></mat-divider>
            <h3><b>Gérer les dictionnaires existants</b></h3>
            <mat-selection-list>
                <div class="dictionary-settings" *ngFor="let dictionary of adminService.dictionaries; let i = index">
                    <mat-list-item>
                        <mat-form-field appearance="outline">
                            <mat-label>Nom du dictionnaire</mat-label>
                            <input matInput required placeholder="Nom du dictionnaire" [value]="dictionary.title">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Description du dictionnaire</mat-label>
                            <textarea matInput required [value]="dictionary.title"></textarea>
                        </mat-form-field>
                        <button mat-stroked-button (click)="downloadDictionary(dictionary.id)">
                            <mat-icon>file_download</mat-icon>
                        </button>
                        <button *ngIf="i > 0" mat-stroked-button color="warn" (click)="adminService.removeDictionary(dictionary)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </div>
                <button mat-stroked-button color="success" (click)="adminService.updateDictionaries()">
                    Accepter les modifications <mat-icon>done</mat-icon>
                </button>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <h3><b>Télécharger un nouveau dictionnaire</b></h3>
            <input type="file" class="file-input" accept="application/json" (change)="onFileSelected($event)"
                #fileUpload>
            Vous avez la possibilité de téléverser un dictionnaire en suivant le format prescrit et ensuite l'utiliser
            dans la partie.
            <div class="file-upload">
                <button mat-stroked-button (click)="fileUpload.click()">
                    Choisir un dictionnaire
                    <mat-icon>attach_file</mat-icon>
                </button>
                <div *ngIf="adminService.fileName">
                    <i>
                        Fichier choisi:
                        {{ adminService.fileName }}
                    </i>
                </div>
            </div>
            <div class="progress">
                <mat-progress-bar mode="determinate" [value]="adminService.uploadProgress"
                    *ngIf="adminService.uploadProgress"></mat-progress-bar>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Nom des joueurs virtuels
            </mat-panel-title>
            <mat-panel-description>
                Ajouter ou retirer des choix de noms pour des joueurs virtuels
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- <mat-grid-list>
            <mat-grid-tile-header></mat-grid-tile-header>
            <mat-grid-tile>
                <h4><b>Noms des joueurs virtuels experts</b></h4>
                <mat-selection-list>
                    <mat-list-item *ngFor="let player of adminService.virtualPlayerNames.experts; let i = index">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Nom du joueur virtuel</mat-label>
                                <input matInput required placeholder="Nom du joueur virtuel" [(ngModel)]="player" [value]="player">
                            </mat-form-field>
                            <button mat-stroked-button color="warn" (click)="adminService.removePlayername(player, true)" *ngIf="i >= 3">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                </mat-selection-list>
            </mat-grid-tile>
            <mat-grid-tile-header></mat-grid-tile-header>
            <mat-grid-tile>
                <h4><b>Noms des joueurs virtuels experts</b></h4>
                <mat-selection-list>
                    <mat-list-item *ngFor="let player of adminService.virtualPlayerNames.experts; let i = index">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Nom du joueur virtuel</mat-label>
                                <input matInput required placeholder="Nom du joueur virtuel" [(ngModel)]="player" [value]="player">
                            </mat-form-field>
                            <button mat-stroked-button color="warn" (click)="adminService.removePlayername(player, true)" *ngIf="i >= 3">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-list-item>
                </mat-selection-list>
            </mat-grid-tile>
        </mat-grid-list> -->
        <button mat-stroked-button (click)="adminService.virtualPlayerNames.experts.push('')">
            Ajouter un joueur virtuel <mat-icon>add</mat-icon>
        </button>
        <button mat-stroked-button color="success" (click)="adminService.updateUsername()">
            Accepter les modifications <mat-icon>done</mat-icon>
        </button>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Réinitialiser les réglagles
            </mat-panel-title>
            <mat-panel-description>
                Zone dangereuse
            </mat-panel-description>
        </mat-expansion-panel-header>
        <b><i>Attention: </i></b>cette option supprime tous les dictionnaires ajoutés, les meilleurs scores ainsi que les noms personnalisés des joueurs virtuels.
        <button mat-stroked-button color="warn" (click)="resetSettings()">Réinitialiser les réglages<mat-icon>warning</mat-icon></button>
    </mat-expansion-panel>
</mat-accordion>
