@use '~@angular/material' as mat;

@import 'custom-theme.scss';

@include mat.core();

@font-face {
    font-family:'digital-clock-font';
    src: url('~src/assets/img/digital-7.ttf');
}

:root {
    // Colors
    --player-one-color: #9ee5d5;
    --player-two-color: #ef9a9a;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-tooltip {
    white-space: pre-line;
    font-size: 125%;
    text-align: justify;
    justify-content: center;
}

// Removed border from MatDialog
.init-game-dialog .mat-dialog-container {
    padding: 0px !important;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

// Prevents black border on focus
:focus {
    outline: none;
}

.mat-success {
    background-color: green;
    color: #fff;
}

@include mat.all-component-themes($mat-light-theme);

.darkMode {
    @include mat.all-component-colors($mat-dark-theme);
}

.mat-tooltip.smaller-tooltip {
    font-size: 0.8rem !important;
}
