@use '~@angular/material' as mat;

@import 'custom-theme.scss';

@include mat.core();

@font-face {
    font-family:'digital-clock-font';
    src: url('~src/assets/img/digital-7.ttf');
}

:root {
    // Colors
    --game-red: #f44336;
    --game-green: #45cb85;
}

$mat-light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mat-light-theme);

.mat-light-theme {
    // Nothing to do. This is the default theme
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Removed border from MatDialog
.init-game-dialog .mat-dialog-container {
    padding: 0px !important;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

// Prevents black border on focus
:focus {
    outline: none;
}

.mat-success {
    background-color: green;
    color: #fff;
}

$mat-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
            accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

.darkMode {
    @include mat.all-component-colors($mat-dark-theme);
}
