<mat-drawer-container autosize>
    <mat-toolbar [ngClass]="playerType" class="mat-app-background" color="primary" class="toolbar">
        <span>Scrabble</span>
        <span>{{ gameService.gameConfig.firstPlayerName }} contre {{ gameService.gameConfig.secondPlayerName }}</span>
        <span>Minuteur: {{ timerService.time | time }}</span>
    </mat-toolbar>
    <mat-drawer #drawer class="comm-box-sidenav" mode="side" opened>
        <app-communication-box></app-communication-box>
    </mat-drawer>
    <div id="tools-container">
        <div class="comm-box-sidenav-content">
            <div class="button-bar">
                <button mat-fab color="warn" class="fab-button" routerLink="/" (click)="confirmQuit()">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-fab color="primary" class="fab-button" (click)="drawer.toggle()">
                    <mat-icon>question_answer</mat-icon>
                </button>
                <button mat-fab color="warn" class="fab-button">
                    <mat-icon>logout</mat-icon>
                </button>
                <button mat-fab color="primary" class="fab-button">
                    <mat-icon>autorenew</mat-icon>
                </button>
                <button mat-fab color="warn" class="fab-button">
                    <mat-icon>settings</mat-icon>
                </button>
            </div>
        </div>
        <section class="play-area-container">
            <app-play-area class="play-area" [playerType]="playerType"></app-play-area>
        </section>
    </div>
</mat-drawer-container>
