<mat-drawer-container autosize>
    <mat-toolbar [ngClass]="playerType" class="mat-app-background" color="primary" class="tool-bar">
        <span>Scrabble</span>
        <span>{{ sessionService.gameConfig.firstPlayerName }} contre {{ sessionService.gameConfig.secondPlayerName }}</span>
        <span>Minuteur: {{ timerService.time | time }}</span>
    </mat-toolbar>
    <mat-drawer #drawer autoFocus class="comm-box-sidenav" mode="side" opened>
        <app-communication-box></app-communication-box>
    </mat-drawer>
    <mat-card [ngClass]="isOpen ? 'scoreboard-player-one-open' : 'scoreboard-player-one-closed'">
        <span class="vertical-flex-items">{{ sessionService.gameConfig.firstPlayerName }}</span>
        <span class="vertical-flex-items">Score: {{ gameService.firstPlayerStats.points }} </span>
        <span class="vertical-flex-items" *ngIf="gameService.firstPlayerStats.rackSize < 7"
            >Lettres: {{ gameService.firstPlayerStats.rackSize }}
        </span>
    </mat-card>
    <mat-card [ngClass]="isOpen ? 'scoreboard-player-two-open' : 'scoreboard-player-two-closed'">
        <span class="vertical-flex-items">{{ sessionService.gameConfig.secondPlayerName }}</span>
        <span class="vertical-flex-items">Score: {{ gameService.secondPlayerStats.points }} </span>
        <span class="vertical-flex-items" *ngIf="gameService.secondPlayerStats.rackSize < 7"
            >Lettres: {{ gameService.secondPlayerStats.rackSize }}
        </span>
    </mat-card>
    <div id="tools-container">
        <div class="comm-box-sidenav-content">
            <div class="button-bar" *ngFor="let button of buttonConfig; let indexOfButton = index">
                <button
                    mat-fab
                    *ngIf="playerType === 'human' || button.icon !== 'block'"
                    class="fab-button"
                    [color]="button.color"
                    [routerLink]="button.routerLink"
                    (click)="callFunction(indexOfButton)"
                    [matTooltip]="button.hover"
                >
                    <mat-icon>
                        {{ button.icon }}
                    </mat-icon>
                </button>
            </div>
        </div>
        <section [ngClass]="isOpen ? 'play-area-container-open' : 'play-area-container-closed'">
            <app-play-area class="play-area" [playerType]="playerType"></app-play-area>
        </section>
    </div>
</mat-drawer-container>
