mat-drawer-container {
    height: 100%;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.scoreboard.player-one-open {
    background-color: var(--game-green);
    margin-left: 70rem;
    left: 0rem;
    top: 16.75rem;
    width: 7.5rem;
    height: 5rem;
    transition: 0.45s;
}

.scoreboard.player-one-closed {
    background-color: var(--game-green);
    margin-left: 92.5rem;
    left: 0rem;
    top: 16.75rem;
    width: 7.5rem;
    height: 5rem;
    transition: 0.45s;
}

.scoreboard.reserve-length-open {
    font-size: large;
    color: #fff;
    background-color: #3f51b5;
    text-align: center;
    margin-left: 70rem;
    left: 0rem;
    top: 24.775rem;
    width: 7.5rem;
    height: 5rem;
    transition: 0.45s;
}

.scoreboard.reserve-length-closed {
    font-size: large;
    color: #fff;
    background-color: #3f51b5;
    text-align: center;
    margin-left: 92.5rem;
    left: 0rem;
    top: 24.775rem;
    width: 7.5rem;
    height: 5rem;
    transition: 0.45s;
}

.scoreboard.player-two-open {
    margin-left: 70rem;
    left: 0rem;
    top: 32.75rem;
    width: 7.5rem;
    height: 5rem;
    transition: 0.45s;
}

.scoreboard.player-two-closed {
    margin-left: 92.5rem;
    left: 0rem;
    top: 32.75rem;
    width: 7.5rem;
    height: 5rem;
    transition: 0.45s;
}

.scoreboard {
    &.player-two-open,
    &.player-two-closed {
        &.singlePlayer {
            background-color: var(--game-red);
        }

        &.multiplayer {
            background-color: var(--game-blue);
        }
    }
}

.vertical-flex-items {
    margin-top: 20px;
    font-size: large;
    color: #fff;
}

.play-area-container-open {
    flex: 1 1 auto;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: 5rem;
    top: 0rem;
    margin-left: 19rem;
    left: 0rem;
    transition: 0.55s;
}

.play-area-container-closed {
    flex: 1 1 auto;
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-top: 5rem;
    top: 0rem;
    margin-left: 33.5rem;
    left: 0rem;
    transition: 0.55s;
}

.comm-box-sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    margin-right: 0;
    margin-bottom: 0;
}

.comm-box-sidenav {
    width: 25%;
}

.button-bar {
    padding: 8px;
    display: block;
    align-items: center;
    width: min-content;
    margin-right: 0;
    z-index: 0;
}

.fab-button {
    margin: 8px;
    min-width: inherit;
}

#tools-container {
    display: flex;
}
