
.play-area-container {
    overflow: auto;
    flex: 1 1 auto;
    align-items: center;
    height: 100%;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.comm-box-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
}

.comm-box-sidenav {
    width: 25%;
}

.button-bar {
    padding: 8px;
    display: block;
    align-items: flex-start;
    width: min-content;
}

.fab-button {
    margin: 8px;
}

.toolbar {
    justify-content: space-between;
}

.local > .mat-toolbar.mat-primary {
    background:  #45cb85 ;
    color: #fff;
}

.remote > .mat-toolbar.mat-primary {
    background: #57E2E5 ;
    color: #fff;
}

.virtual > .mat-toolbar.mat-primary {
    background: #b03a2e;
    color: #fff;
}
