<mat-drawer-container autosize>
    <mat-toolbar [ngClass]="playerType" class="mat-app-background" color="primary" class="toolbar">
        <span>Scrabble</span>
        <span>{{ gameService.gameConfig.firstPlayerName }} contre {{ gameService.gameConfig.secondPlayerName }}</span>
        <span>Minuteur: {{ timerService.time | time }}</span>
    </mat-toolbar>
    <mat-drawer #drawer autoFocus class="comm-box-sidenav" mode="side" opened>
        <app-communication-box></app-communication-box>
    </mat-drawer>
    <mat-card id="scoreboardPlayerOne">
        <span class="verticalFlexItems">{{ gameService.gameConfig.firstPlayerName }}</span>
        <span class="verticalFlexItems"> {{ gameService.firstPlayerPoints }} </span>
    </mat-card>
    <mat-card id="scoreboardPlayerTwo">
        <span class="verticalFlexItems">{{ gameService.gameConfig.secondPlayerName }}</span>
        <span class="verticalFlexItems"> {{ gameService.secondPlayerPoints }} </span>
    </mat-card>
    <div id="tools-container">
        <div class="comm-box-sidenav-content">
            <div class="button-bar">
                <button
                    mat-fab
                    *ngFor="let button of buttonConfig; let indexOfButton = index"
                    class="fab-button"
                    [color]="button.color"
                    [routerLink]="button.routerLink"
                    (click)="callFunction(indexOfButton)"
                >
                    <mat-icon>
                        {{ iconList[indexOfButton] }}
                    </mat-icon>
                </button>
            </div>
        </div>
        <section class="play-area-container">
            <app-play-area class="play-area" [playerType]="playerType"></app-play-area>
        </section>
    </div>
</mat-drawer-container>
