.room-container {
    background-color: #eae7dc;
    margin: auto;
    width: 50%;
    width: max-content;
    height: min-content;
    padding: 32px;
    
}
.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--game-green);
}

.container {
    width: 100%;
    position: relative;
    align-items: center;
    
}

.room-info {
    color: #eae7dc;
    width: 50%;
    margin-top: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.info-card {
    
    margin: 10px;
    justify-content: center;
    width: 30%;
    padding: 30px;
    display: inline-block;
    
}

.form-card {
    width: 200px;
    margin:auto;
    justify-content: center;
    text-align: center;
    align-content: center;
    padding: 32px;
    display: inline-block;
    
}

.error {
    font-size: 14px;
    text-align: center;
    color: darkred;
}

.error-dialog {
    text-align: center;
    align-items: center;
}


.error-dialog button {
    margin-top: 1rem;
}

.exit-button {
    position: relative;
    margin-top: 10px;
    margin-left: 5vh;
    text-align: center;
    align-items: center;
}

.random-game-button {
    float: right;
    margin-top: 10px;
    position: relative;
    margin-right: 5vh;
    text-align: center;
    align-items: right;
}
