.room-container {
    width: max-content;
    margin: 2rem;
    height: min-content;
    padding: 32px;
    justify-content: center;
    align-items: center;
    float: left;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--game-green);
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
}

.room-info {
    position: relative;
    margin: 2rem;
    float: right;
}

.info-card, .form-card {
    margin: 2rem;
    justify-content: center;
}

.info-card{
    margin: 2rem;
    justify-content: center;
}

.form-card {
    margin: 2rem;
    justify-content: center;
    text-align: center;
    display: inline-block;
}

.error {
    font-size: 14px;
    text-align: center;
    color: darkred;
}

.error-dialog {
    text-align: center;
    align-items: center;
}

.error-dialog button {
    margin-top: 1rem;
}

.exit-button {
    position: relative;
    margin-left: 5vh;
    bottom: 10rem;
    text-align: center;
    align-items: center;
}
