.table {
    width: 25rem;
    margin-top: 2rem;
    background-color: #ff8a65;
}

.row-pending {
    background: #ff8a65;
    color: black;
    min-height: 4.8em;
}

.row-succeeded {
    background: (var(--player-one-color));
    color: black;
    min-height: 4.8em;
}

.row-failed {
    background: (var(--player-two-color));
    color: black;
    min-height: 4.8em;
}

.mat-column-objectives {
    height: auto;
    min-width: 12rem;
    text-align: justify;
}

.mat-column-succeeded {
    height: auto;
    justify-content: center;
}

.mat-column-points {
    height: auto;
    flex: 4.5rem;
    max-width: 4.5rem;
    justify-content: center;
}

.header {
    color: black;
    font-size: medium;
    text-align: center;
    background-color: #81d4fa;
}
