<mat-table [dataSource]="this.goalService.publicObjectives" class="table mat-elevation-z8" #tablePublic>
    <ng-container matColumnDef="objectives">
        <mat-header-cell *matHeaderCellDef class="header"> Objectifs Publics </mat-header-cell>
        <mat-cell
            *matCellDef="let goal"
            [ngClass]="{
                'row-pending': goal.status === 2,
                'row-failed': goal.status === 1,
                'row-succeeded': goal.status === 0
            }"
        >
            {{ goal.name }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef class="header"> Points Bonus </mat-header-cell>
        <mat-cell
            *matCellDef="let goal"
            [ngClass]="{
                'row-pending': goal.status === 2,
                'row-failed': goal.status === 1,
                'row-succeeded': goal.status === 0
            }"
        >
            {{ goal.score }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="succeeded">
        <mat-header-cell *matHeaderCellDef class="header"> Complété </mat-header-cell>
        <mat-cell
            *matCellDef="let goal"
            [ngClass]="{
                'row-pending': goal.status === 2,
                'row-failed': goal.status === 1,
                'row-succeeded': goal.status === 0
            }"
        >
            {{ goal.status }}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-table [dataSource]="this.goalService.privateObjectives" class="table mat-elevation-z8" #tablePrivate>
    <ng-container matColumnDef="objectives">
        <mat-header-cell *matHeaderCellDef class="header"> Objectifs Privés </mat-header-cell>
        <mat-cell
            *matCellDef="let goal"
            [ngClass]="{
                'row-pending': goal.status === 2,
                'row-failed': goal.status === 1,
                'row-succeeded': goal.status === 0
            }"
        >
            {{ goal.name }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef class="header"> Points Bonus </mat-header-cell>
        <mat-cell
            *matCellDef="let goal"
            [ngClass]="{
                'row-pending': goal.status === 2,
                'row-failed': goal.status === 1,
                'row-succeeded': goal.status === 0
            }"
        >
            {{ goal.score }}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="succeeded">
        <mat-header-cell *matHeaderCellDef class="header"> Complété </mat-header-cell>
        <mat-cell
            *matCellDef="let goal"
            [ngClass]="{
                'row-pending': goal.status === 2,
                'row-failed': goal.status === 1,
                'row-succeeded': goal.status === 0
            }"
        >
            {{ goal.status }}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
