.table {
    width: 25rem;
    background-color: #81d4fa;
    margin-top: 2rem;
}

.row-pending {
    background-color: #ff8a65;
    color: black;
}

.row-succeeded {
    background-color: (var(--player-one-color));
    color: black;
}

.row-failed {
    background-color: (var(--player-two-color));
    color: black;
}

.mat-column-objectives {
    height: auto;
    flex: 9rem;
    min-width: 9rem;
}

.mat-column-succeeded {
    height: auto;
    flex: 3rem;
    max-width: 3rem;
}

.header {
    color: black;
    font-size: medium;
}
