<body class="background">
    <div class="container justified">
        <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
        <h2>Scrabble</h2>
        <section id="game">
            <p>Choix du mode de jeu</p>
            <div class="button-group">
                <div class="dropdown">
                    <button class="button1" routerLink="/settings">Scrabble Classique</button>
                    <div class="dropdown-content1">
                        <h3>
                            Rien de mieux qu'une bonne vieille partie de scrabble<br />
                            -Jouer contre un joueur virtuel ou un ami<br />
                            -règlement régulier<br />
                        </h3>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="button1">Scrabble LOG2990</button>
                    <div class="dropdown-content2">
                        <h3>
                            Une variante amusante et plus active de Scrabble<br />
                            -Jouer contre un joueur virtuel ou un ami<br />
                            -Ajout d'objectif qui pimente la partie<br />
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <button class="button1">Meilleur Score</button>
        <div class="dropup">
            <button mat-mini-fab color="white" class="dropbtn">
                <mat-icon>group</mat-icon>
            </button>
            <div class="dropup-content">
                <h4>
                    Équipe Poly 301<br />
                    <br />
                    Julien Bourque<br />
                    Alexandre Dufort<br />
                    Éloïse Brosseau<br />
                    Étienne Hourdebaigt<br />
                    Ikram Kohil<br />
                    Morgan De Gregorio Beaudoin<br />
                </h4>
            </div>
        </div>
    </div>
</body>
