<body class="background">
    <div class="container justified">
        <h1 class="header-item">Réalisé dans le cadre du cours LOG2990</h1>
        <h2>Scrabble.one</h2>
        <section id="game">
            <p>Choix du mode de jeu</p>
            <div class="button-group">
                <div class="dropdown">
                    <button class="button1" mat-raised-button [routerLink]="['/settings', gameMode.Classic]">Scrabble classique</button>
                    <div class="dropdown-content1">
                        <h3>
                            Rien de mieux qu'une bonne vieille partie de Scrabble<br />
                            - Jouer contre un joueur virtuel ou un ami<br />
                            - Règlements réguliers<br />
                        </h3>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="button1" mat-raised-button [routerLink]="['/settings', gameMode.Log2990]">Scrabble LOG2990</button>
                    <div class="dropdown-content2">
                        <h3>
                            Une variante amusante et plus active de Scrabble<br />
                            - Jouer contre un joueur virtuel ou un ami<br />
                            - Ajout d'objectifs qui pimentent la partie<br />
                        </h3>
                    </div>
                </div>
            </div>
        </section>
        <button class="button1" mat-raised-button (click)="openScoresDialog()">Meilleurs scores</button>
        <div class="dropup">
            <button mat-mini-fab color="white" class="dropbtn">
                <mat-icon>group</mat-icon>
            </button>
            <div class="dropup-content">
                <h4>
                    Équipe Poly 301<br />
                    <br />
                    <label *ngFor="let dev of developers">{{ dev }}<br /></label>
                </h4>
            </div>
        </div>
    </div>
</body>
