<body>
    <div class="container justified">
        <h2>Scrabble.one</h2>
        <div class="buttons">
            <button class="button" mat-raised-button matTooltipPosition="right" matTooltip="Rien de mieux qu'une bonne vieille partie de Scrabble. Jouer contre un joueur virtuel ou un ami avec les règles classiques." [routerLink]="['/settings', gameMode.Classic]">Mode classique</button>
            <button class="button" mat-raised-button matTooltipPosition="right" matTooltip="Une variante amusante et plus active de Scrabble.Jouer contre un joueur virtuel ou un ami. Ajout d'objectifs qui pimentent la partie." [routerLink]="['/settings', gameMode.Log2990]">Mode LOG2990</button>
            <button class="button" mat-raised-button (click)="openScoresDialog()"> <mat-icon>emoji_events</mat-icon> Meilleurs scores <mat-icon>emoji_events</mat-icon></button>
        </div>
        <div id="group">
            <button class="team-button" matTooltip= "{{ developers.join('\n') }}"><mat-icon>group</mat-icon></button>
        </div>
    </div>
</body>
