body {
    background: linear-gradient(135deg, #006896, #5bcbff 50%, #c9eeff 100%);
}

.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: #0b2e56;
    font-size: 100px;
    font-family: 'Permanent Marker', cursive;
    margin-top: 15vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.button {
    padding: 1.5vh 2.5vh;
    font-size: 2vh;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 0 5px rgb(212, 212, 212);
    background-color: white;
    margin: 2.5vh;
    font-family: 'Press Start 2P', cursive;
}

.team-button {
    background-color: white;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.5);
}

#group {
    left: 0vw;
    margin-left: 94vw;
    margin-bottom: 3vh;
}
