.container {
    min-height: 100vh;
    height: auto;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    margin-top: 10px;
    text-align: center;
}

.button-group .button1:hover {
    background-color: #a8a8a8;
    box-shadow: 0 5px #666;
}

.button-group .button1:active {
    background-color: #a8a8a8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.header-item {
    justify-content: center;
    text-align: center;
}

h1 {
    color: #eae7dc;
    text-align: center;
}

h2 {
    color: #eae7dc;
    font-size: 100px;
    font-style: oblique;
}

h3 {
    font-size: 20px;
}

body {
    background-image: url('~src/assets/img/scrabble_bg.png');
    background-size: cover;
}

.button1,
.button-group .button1 {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #eae7dc;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px rgb(212, 212, 212);
    margin: 25px;
}

.button1:hover {
    background-color: #a8a8a8;
    box-shadow: 0 5px #666;
}

.button1:active {
    background-color: #a8a8a8;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

p {
    text-align: center;
    color: #eae7dc;
    font-size: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content1,
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #8e8d8a;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content1 {
    right: 200px;
}

.dropdown-content2 {
    left: 200px;
}

.dropdown:hover .dropdown-content1,
.dropdown:hover .dropdown-content2 {
    display: block;
    border-color: #eae7dc;
    border-width: 3px;
}

.dropbtn {
    padding-bottom: 10px;
    position: relative;
    left: 700px;
}

.dropup {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.dropup-content {
    display: none;
    position: absolute;
    left: 500px;
    bottom: 50px;
    background-color: #eae7dc;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropup-content h4 {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ddd;
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #8e8d8a;
}
