#container {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
}

#title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: large;
}

// Had to have an id that does nothing to get the input while testing
#inputName {
    font: optional;
}

#selectMinutes {
    font: optional;
}

.inputPresentationText {
    margin: 10px 0 10px 0;
    font-size: medium;
}

.selecterTime {
    position: relative;
    float: left;
    min-width: 50px;
    width: 50px;
    min-height: 40px;
    color: rgb(56, 55, 55);
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: all 375ms ease-in-out;
}

.inputBox {
    background-color: #666;
}

.playersFlex {
    width: 30%;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.flex-items-players {
    margin: 0px 15px 0px 15px;
    font-size: medium;
    align-items: center;
}

#confirm {
    margin: 5%;
}

#confirm:hover {
    background-color: #a8a8a8;
    box-shadow: 0 5px #666;
}

.alert {
    font-size: 14px;
    color: darkred;
    margin-top: 10px;
}

.inputs {
    font-size: 15px;
}
