
<div id="container" (keydown.enter)="init()">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    <p class="containerInput" id="title" *ngIf="data.gameType === typeOfGameType.SinglePlayer || data.gameType === typeOfGameType.Multiplayer">
        Paramètres de la partie
    </p>
    <p class="inputPresentationText" *ngIf="data.gameType === typeOfGameType.SinglePlayer; else elseBlock">Nom des joueurs</p>
    <form class="playersFlex">
        <mat-form-field style="margin-right: 0.8vw" appearance="fill">
            <mat-label>Joueur 1</mat-label>
            <input 
                required
                matInput
                placeholder="Joueur 1"
                name="name"
                id="inputName"
                [(ngModel)]="nameValidator.name"
                (input)="botNameChange(nameValidator.name)"
            />
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="data.gameType === typeOfGameType.SinglePlayer">
            <mat-label>Joueur 2</mat-label>
            <input disabled="true" matInput placeholder="Joueur 2" value="{{ formConfig.secondPlayerName }}" />
        </mat-form-field>
    </form>
    <p class="inputPresentationText" *ngIf="data.gameType === typeOfGameType.SinglePlayer || data.gameType === typeOfGameType.Multiplayer">
        Temps maximum par tour
    </p>
    <div class="playersFlex" *ngIf="data.gameType === typeOfGameType.SinglePlayer || data.gameType === typeOfGameType.Multiplayer">
        <mat-form-field class="inputs" style="margin-right: 0.8vw" appearance="fill">
            <mat-label>Minutes</mat-label>
            <mat-select name="minutesPerTurn" id="selectMinutes" [(ngModel)]="minutes" (selectionChange)="manageTimeLimits()">
                <mat-option *ngFor="let minutes of minutesList" [value]="minutes">{{ minutes }} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="inputs" appearance="fill">
            <mat-label>Secondes</mat-label>
            <mat-select name="secondsPerTurn" [(ngModel)]="seconds" [disabled]="minutes === 5 || minutes === 0">
                <mat-option *ngFor="let seconds of secondsList" [value]="seconds">{{ seconds }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <p class="inputPresentationText" *ngIf="data.gameType === typeOfGameType.SinglePlayer; else elseBlockTitle">
        Choix de la difficulté et du dictionnaire
    </p>
    <div class="last-line-flex">
    <mat-form-field color="primary-darker" class="inputs" appearance="fill" *ngIf="data.gameType === typeOfGameType.SinglePlayer">
        <mat-label>Profil du joueur virtuel</mat-label>
        <mat-select
            name="gameTypes"
            appearance="fill"
            [ngModel]="formConfig.virtualPlayerLevelName"
            (valueChange)="formConfig.virtualPlayerLevelName = $event; updateVirtualPlayerNames()"
        >
            <mat-option *ngFor="let gameType of virtualPlayerLevelNames" [value]="gameType">{{ gameType }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="inputs" appearance="fill">
        <mat-label>Dictionnaire</mat-label>
        <mat-select name="gameDictionary" [(ngModel)]="dictionary" required>
            <mat-option *ngFor="let d of adminService.dictionaries" [value]="d">{{ d.title }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
    <ng-template #elseBlock>
        <label class="inputPresentationText">Nom du joueur</label>
    </ng-template>
    <ng-template #elseBlockTitle>
        <p class="inputPresentationText">
            Choix du dictionnaire
        </p>
    </ng-template>
    <mat-checkbox color="primary" class="inputPresentationText" [(ngModel)]="formConfig.isRandomBonus"> Bonus aléatoire </mat-checkbox>
    <div *ngFor="let error of this.nameValidator.errors" class="alert">{{ error }}</div>

    <button mat-raised-button (click)="this.init()" color="primary" id="confirm">Confirmer</button>
</div>
