<mat-card class="rack" (wheel)="onMousewheel($event)" (mouseenter)="isFocus = true" (mouseleave)="isFocus = false">
    <mat-card
        class="tile"
        [ngClass]="{ 'swap-selected': selection.swap.index === i, 'border-selected': selection.reserve.has(i)  }"
        (click)="onLeftClick(i)"
        (contextmenu)="onRightClick(i)"
        *ngFor="let letter of rackService.rack; let i = index">
        <div *ngIf="letter !== '*'">
            {{ letter | uppercase }}
            <sub class="letter-point">
                {{ retrievePoints(letter) }}
            </sub>
        </div>
    </mat-card>
</mat-card>
