<div id="grid-container" (mouseenter)="isMouseOnBoard = true" (mouseleave)="isMouseOnBoard = false" tabindex="-1" (focusout)="lostFocus()">
    <div id="board-canvas" [style.width.px]="width" [style.height.px]="height">
        <canvas
            class="board-display"
            id="grid-canvas"
            #gridCanvas
            [style.width.px]="width"
            [style.height.px]="height"
            [attr.width]="width"
            [attr.height]="height"
        ></canvas>

        <canvas
            class="board-display"
            id="squareCanvas"
            #squareCanvas
            [style.width.px]="width"
            [style.height.px]="height"
            (click)="mouseHandlingService.mouseHitDetect($event)"
            [attr.width]="width"
            [attr.height]="height"
        ></canvas>

        <canvas
            class="board-display"
            id="tempcanvas"
            #tempCanvas
            [style.width.px]="width"
            [style.height.px]="height"
            (click)="onMouseDown($event)"
            [attr.width]="width"
            [attr.height]="height"
        ></canvas>
    </div>

    <div class="parent">
        <div id="play-button" class="inline-block-child">
            <button mat-button *ngIf="placeLetterService.tempRack.length > 0" (click)="play(); $event.stopImmediatePropagation()">Jouer</button>
        </div>

        <app-size-selector
            id="size-selector"
            class="inline-block-child"
            [minSize]="gridService.minFontSize"
            [maxSize]="gridService.maxFontSize"
            [size]="gridService.letterFontFace.size"
            (sizeUpdated)="updateFontSize($event)"
        ></app-size-selector>
    </div>
</div>
