#board-canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0rem;
    top: 0rem;
    right: 0rem;
}

#size-selector {
    margin-left: auto;
    margin-right: 0;
    align-items: stretch;
}

.board-display {
    flex-wrap: wrap;
    position: relative;
}

#grid-canvas {
    z-index: 0;
    position: absolute;
}

#square-canvas {
    z-index: 1;
    position: absolute;
}

#temp-canvas {
    z-index: 2;
    position: absolute;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

.inline-block-child {
    display: inline-block;
}

#play-button {
    float: left;
}

#size-selector {
    float: right;
}

.parent {
    box-sizing: border-box;
    width: 100%;
}
