<mat-card>
    <ng-container><mat-card-title>Tutoriel</mat-card-title></ng-container>
    <mat-divider></mat-divider>
    <div style="max-width: 25vw; text-align: justify">
        <li>
            Un clique gauche sur l'une des cases du tableau de jeu permet d'écrire votre mot horizontalement à partir de votre clavier. Un deuxième
            clique sur la case permet d'écrire le mot verticalement.
        </li>
        <li>Un clique droit sur une ou plusieurs lettres du chevalet permet d'effectuer un échange avec la réserve lorsque c'est votre tour.</li>
        <li>Un clique gauche permet de sélectionner la lettre à déplacer sur le chevalet en utilisant les flèches droite et gauche du clavier.</li>
        <li>La case blanche vous permet d'écrire un mot contenant une lettre que vous ne possédez pas. Il vous suffit simplement de remplacer la lettre désirée par une majuscule.</li>
        <li>Pour échanger une lettre blanche, vous pouvez écrire la commande !échanger * dans la boite de communication.</li>
        <li>Le bouton <mat-icon>skip_next</mat-icon> permet de passer son tour.</li>
        <li>Le bouton <mat-icon>question_answer</mat-icon> permet de basculer le clavardage.</li>
        <li>
            Les boutons <mat-icon>remove_circle_outline</mat-icon> et <mat-icon>add_circle_outline</mat-icon> permettent de modifier la taille du
            texte sur le plateau de jeu.
        </li>
    </div>
</mat-card>
