li {
    padding-top: 2vh;
}

mat-card {
    background-color: #c5dae4;
}

mat-card-title {
    text-align: center;
}

ng-container {
    background-color: #466f81;
}

mat-divider {
    border-top-width: 0.4vh;
}
