<mat-grid-list cols="1" >
    <!-- Message list -->
    <cdk-virtual-scroll-viewport itemSize="5" class="message-viewport">
        <div *cdkVirtualFor="let message of messagesService.getMessages()">
            <mat-card style="margin:8px" [ngClass]="{
                'action-error': message.messageType === 'ActionError',
                'input-error': message.messageType === 'InputError',
                'syntax-error': message.messageType === 'SyntaxError',
                'log-message':message.messageType === 'Log'
            }">
                <span><b *ngIf="message.title !== ''">{{ message.title }}<br></b></span>
                {{ message.body }}
            </mat-card>
        </div>
    </cdk-virtual-scroll-viewport>
</mat-grid-list>
<!-- Command input -->
<mat-form-field class="command-field" appearance="fill">
    <mat-label>Saisissez une commande</mat-label>
    <input autofocus matInput type="text" (keydown.enter)="send(value)" [(ngModel)]="value" />
    <!-- Erase text button -->
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
        <mat-icon>close</mat-icon>
    </button>
    <!-- Submit button -->
    <button mat-button type="submit" (keydown.enter)="send(value)" (click)="send(value)">Envoyer</button>
</mat-form-field>
