.command-field {
    width: 90%;
    margin: 16px;
}

.syntax-error .input-error .action-error .log-message {
    background-color: #ff7b7b;
}

.message-viewport {
    height: 300px;
    width: 100%;
}
