$background-color: rgba(102, 206, 255, 0.3);
$main-color: white;

.background-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.5);
    background-image: url('~src/assets/img/waiting-room-background.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
    color: $main-color;
    font-family: 'Press Start 2P', cursive;
}

p {
    top: 0;
    margin-top: 45vh;
    padding-bottom: 2vh;
    margin-bottom: 0;
    color: black;
}

mat-option {
    background-color: $main-color;
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
}

mat-option-text {
    background-color: $main-color;
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
}

#buttons {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Press Start 2P', cursive;
}

.selector {
    padding-bottom: 10px;
    display: inline-block;
    font-size: small;
    text-align: center;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

.convertion {
    display: inline-block;
    position: relative;
    background: $main-color;
    color: black;
    font-family: 'Press Start 2P', cursive;
    opacity: 85%;
}

.difficulty-selector {
    font-size: medium;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position: relative;
    width: 75%;
}

.difficulty-selector mat-select {
    color: $main-color;
    font-size: x-small;
    font-family: 'Press Start 2P', cursive;
}

.waiting-room-buttons {
    padding: 1.5vh 2.5vh;
    font-size: 2vh;
    text-align: center;
    border-radius: 1vh;
    box-shadow: 0 5px rgb(212, 212, 212);
    background-color: white;
    margin: 2.5vh;
    font-family: 'Press Start 2P', cursive;
    color: black;
}
