<div class="background-img">
    <p>En attente d'un second joueur!</p>
    <div id="buttons">
        <!-- TO DO: AN ACTUAL FUNCTION FOR ABANDON-->
        <button mat-button class="abandon" id="left" (click)='abort()'>Abandonner</button>
        <div class="conversion-field" id="right">
            <mat-form-field class="level-selector" appearance="fill">
                <mat-label>Profil du JV</mat-label>
                <mat-select [ngModel]="gameTypesList[0]">
                    <mat-option *ngFor="let gameType of gameTypesList" [value]="gameType">{{ gameType }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button class="convert" (click)='convertToSoloMode()'>Convertir en partie solo</button>
        </div>
    </div>
</div>
