$background-color: rgba(102, 206, 255, 0.3);
$main-color: ivory;

.background-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.5);
    background-image: url('~src/assets/img/waiting-room-background.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
    color: $main-color;
    font-family: 'Press Start 2P', cursive;
}

p {
    top: 0;
    margin-top: 55vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

mat-option {
    background: ivory;
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
}

mat-option-text {
    background: ivory;
    font-size: medium;
    font-family: 'Press Start 2P', cursive;
}

#buttons {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Press Start 2P', cursive;
}

#left {
    margin-top: 50px;
    position: relative;
    left: 0;
    margin-left: 5vh;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    background-color: $main-color;
    color: black;
    opacity: 85%;
}

.selector {
    padding-bottom: 10px;
    display: inline-block;
    font-size: small;
    text-align: center;
    margin: 1rem;
    font-family: 'Press Start 2P', cursive;
}

.convertion {
    display: inline-block;
    position: relative;
    background: white;
    color: black;
    font-family: 'Press Start 2P', cursive;
    opacity: 85%;
}

.difficulty-selector {
    font-size: medium;
    padding-bottom: 10px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    position: relative;
    width: 75%;
}

.difficulty-selector mat-select {
    color: ivory;
    font-size: x-small;
    font-family: 'Press Start 2P', cursive;
}
