<body class="background">
    <div class="container justified">
        <h1 class="header-item">Bienvenue au cours LOG2990</h1>
        <h2>Scrabble</h2>
        <section id="game">
            <h1>Option de jeu</h1>
            <div class="button-group">
                <div class="dropdown">
                    <button class="button1" routerLink="/game">joueur une partie en solo</button>
                </div>
                <div class="dropdown">
                    <button class="button1">Créer une partie multijoueur</button>
                    <div class="dropdown-content2">
                        <h3>Mode indisponible<br /></h3>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="button1">joindre une partie multijoueur</button>
                    <div class="dropdown-content2">
                        <h3>Mode indisponible<br /></h3>
                    </div>
                </div>
            </div>
        </section>
        <button class="button1" routerLink="/home">Accueil</button>

        <div class="footer-item">
            <h4 class="team-name">Équipe Poly 301</h4>
            <p>
                <span>Julien Bourque</span>, <span>Alexandre Dufort</span>, <span>Eloïse Brosseau</span>, <span>Étienne Hourdebaigt</span>,
                <span> Ikram Kohil</span>, <span> Morgan De Gregorio Beaudoin</span>
            </p>
        </div>
    </div>
</body>
