<div id="container">
    <p class="containerInput" id="title">Paramètres de la partie</p>
    <p class="inputPresentationText">Mode de Jeu</p>
    <select name="gameTypes" id="selecter">
        <option *ngFor="let gameType of gameTypesList" [value]="gameType">{{ gameType }}</option>
    </select>
    <p class="inputPresentationText">Temps Maximum Par Tour</p>
    <select name="timePerTurn" id="selecter">
        <option *ngFor="let turnLength of turnLengthList" [value]="turnLength">{{ turnLength }}</option>
    </select>
    <p class="containerInput" class="inputPresentationText">Nom Des Joueurs</p>
    <div class="joueursFlex">
        <input class="inputBox flex-items-joueurs" placeholder="Joueur 1" name="name" [(ngModel)]="this.game.firstPlayerName" />
        <p class="flex-items-joueurs">VS</p>
        <input class="inputBox flex-items-joueurs" placeholder="Joueur 2" value="{{ this.game.secondPlayerName }}" />
    </div>
    <div *ngIf="this.game.nameForm !== undefined && this.game.nameForm.get('control')?.hasError('containsOnlyLetters')" class="alert">
        *Le nom doit seulement être composé de lettres.
    </div>
    <div *ngIf="this.game.nameForm !== undefined && this.game.nameForm.get('control')?.hasError('required')" class="alert">
        *Un nom doit être entré.
    </div>
    <div *ngIf="this.game.nameForm !== undefined && this.game.nameForm.get('control')?.hasError('minLength')" class="alert">
        *Le nom doit contenir au moins 3 caractères.
    </div>
    <div *ngIf="this.game.nameForm !== undefined && this.game.nameForm.get('control')?.hasError('maxLength')" class="alert">
        *Le nom doit au maximum contenir 16 lettres.
    </div>
    <div *ngIf="this.game.nameForm !== undefined && this.game.nameForm.get('control')?.hasError('startsWithLowerLetter')" class="alert">
        *Le nom doit débuter par une majuscule.
    </div>
    <button (click)="this.game.confirmInitialization(this.game.firstPlayerName)" id="confirm">Confirmer</button>
</div>
