<div id="container">
    <p class="containerInput" id="title">Paramètres de la partie</p>
    <p class="inputPresentationText">Mode de Jeu</p>
    <select name="gameTypes" id="selecter">
        <option *ngFor="let gameType of gameTypesList" [value]="gameType">{{ gameType }}</option>
    </select>
    <p class="inputPresentationText">Temps Maximum Par Tour</p>
    <select name="timePerTurn" id="selecter">
        <option *ngFor="let turnLength of turnLengthList" [value]="turnLength">{{ turnLength }}</option>
    </select>
    <p class="containerInput" class="inputPresentationText">Nom Des Joueurs</p>
    <div class="joueursFlex">
        <input class="inputBox flex-items-joueurs" placeholder="Joueur 1" name="name" [(ngModel)]="this.game.firstPlayerName" />
        <p class="flex-items-joueurs">VS</p>
        <input class="inputBox flex-items-joueurs" placeholder="Joueur 2" value="{{ this.game.secondPlayerName }}" />
    </div>
    <!--
    <div *ngIf="this.game.nameForm.errors?.required">Name is required.</div>
    <div *ngIf="this.game.nameForm.errors?.minlength">Name must be at least 4 characters long.</div>
    <div *ngIf="this.game.nameForm.errors?.minlength">Name must be at Maximum 16 characters long.</div>
    <div *ngIf="this.game.nameForm.errors?.containsOnlyLetters">Name cannot be Bob.</div>
    -->
    <button (click)="game.confirmInitialization(this.game.firstPlayerName)" class="">Confirmer</button>
</div>
