.local.mat-toolbar {
    background: var(--player-one-color);
    color: black;
}

.virtual.mat-toolbar.mat-primary,
.remote.mat-toolbar {
    background: var(--player-two-color);
    color: black;
}

.tool-bar {
    z-index: 2;
    font-family: 'digital-clock-font';
    font-size: 300%;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
}
