<div id="container">
    <p>Meilleurs scores</p>

    <p>
        <!-- {{ classicBoardData[0].name[0] }} -->
    </p>

    <!-- <mat-form-field class="inputs" appearance="fill">
        <mat-label>Profil</mat-label>
        <mat-select name="gameTypes" appearance="fill">
            <mat-option >Hello</mat-option>
        </mat-select>
    </mat-form-field> -->
    <!--
    <table mat-table class="mat-elevation-z8">
        <ng-container matColumnDef="Names">
            <th mat-header-cell *matHeaderCellDef> Names </th>
            <td mat-cell > Snoop Dog </td>
          </ng-container>
    </table> -->

    <!-- <button mat-raised-button color="primary" id="confirm">Confirmer</button> -->
</div>
