<div id="header">
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<h2 class="title">Meilleurs scores</h2>
</div>

<div id="best-scores">
    <table mat-table [dataSource]="classicBoardData" class="mat-elevation-z2">

      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Scores </th>
        <td mat-cell *matCellDef="let scores"> {{scores.scoreValue}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Joueurs </th>
          <td mat-cell *matCellDef="let names"> {{names.name.join(' - ')}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <table mat-table [dataSource]="logBoardData" class="mat-elevation-z2">

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Scores </th>
          <td mat-cell *matCellDef="let scores"> {{scores.scoreValue}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Joueurs </th>
            <td mat-cell *matCellDef="let names"> {{names.name.join(' - ')}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
