.message-card {
    display: block;
    margin: 6px;
    word-wrap: break-word;
}

.command-input {
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.message-container {
    display: flex;
    overflow: scroll;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
