.message-card {
    display: block;
    margin: 6px;
    word-wrap: break-word;
    white-space: pre-line;
}

.command-input {
    bottom: 0px;
    width: 100%;
    background-color: white;
}

.message-container {
    overflow: auto;
}

.chat-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-height: 100vh;
}
