#board {
    border: 1px solid black;
    position: relative;
}
#grid-container{
    position: relative;
    translate: 50%;
}
#gridCanvas{
    z-index: 0;
}
#squareCanvas{
    z-index: 1;
}
canvas{
    position: absolute;
    left: 0;
    top: 0;
}
