#play-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rack {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.exchange-command {
    margin: 1rem;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    text-align: center;
    padding: 0;
    display: inline-block;

    transition: all .3s;
}
