#play-area-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rack {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
