<div id="grid-container">
    <div id="board" [style.width.px]="width" [style.height.px]="height">
        <canvas id="gridCanvas" #gridCanvas [style.width.px]="width" [style.height.px]="height" [attr.width]="width" [attr.height]="height"></canvas>
        <canvas
            id="squareCanvas"
            #squareCanvas
            [style.width.px]="width"
            [style.height.px]="height"
            (click)="mouseHandlingService.mouseHitDetect($event)"
            [attr.width]="width"
            [attr.height]="height"
        ></canvas>
    </div>
</div>

    <button (click)="startTimer1()">
        click me to start timer1
    </button>

    <button (click)="stopTimer1()">
        click me to stop timer1
    </button>

    <button (click)="startTimer2()">
        click me to start timer2
    </button>

    <button (click)="stopTimer2()">
        click me to stop timer2
    </button>

<div class="rack">
    <app-rack></app-rack>
</div>
